<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../components/head.ejs") %>
  <title>Tridecco Puzzle Game: Fun and Educational Einstein Shape Challenge | Tridecco</title>
  <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
  <style>
    body {
      background-image: url('/img/background.png');
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
    }
  </style>
</head>

<body class="bg-gray-100 text-gray-900">
  <!-- Header Section -->
  <%- include("../components/header.ejs") %>

  <!-- Hero Section -->
  <section class="h-[65vh] flex flex-col justify-center items-center bg-black bg-opacity-50 text-center" data-aos="fade-up">
    <img src="/img/logo-2.avif" alt="Tridecco Logo" class="w-full md:w-1/2 mb-6 transition duration-300 hover:scale-105">
    <h1 class="text-4xl text-white md:text-6xl mb-6 transition duration-300 hover:text-gray-300">A Competitive Game of 13-sided Shapes</h1>
    <a href="https://play.tridecco.com" class="bg-white text-gray-900 py-3 px-6 rounded-full text-lg font-semibold transition duration-300 hover:bg-gray-300">Play Online</a>
  </section>

  <!-- Discover Section -->
  <section class="py-12 bg-white" data-aos="fade-up">
    <div class="container mx-auto px-4 text-center">
      <div class="flex flex-col md:flex-row justify-between items-center space-y-8 md:space-y-0 md:space-x-8">
        <!-- Left Column: Title, Description, Social Media Icons -->
        <div class="flex-1">
          <h2 class="text-3xl md:text-4xl font-bold mb-4 transition duration-300 hover:text-gray-700">Discover the Exciting Tridecco Puzzle Game</h2>
          <p class="text-gray-700 mb-6">Tridecco is a competitive game of 13-sided shape. Perfect for all ages, it enhances
            spatial acuity for everyone. Join our mailing list for Kickstarter updates.</p>
          <div class="flex justify-center space-x-4">
            <a href="https://www.facebook.com/tridecco" class="transition duration-300 hover:scale-105"><img src="/svg/facebook.svg" alt="Facebook Icon" class="w-6 h-6"></a>
            <a href="https://www.instagram.com/tridecco" class="transition duration-300 hover:scale-105"><img src="/svg/instagram.svg" alt="Instagram Icon" class="w-6 h-6"></a>
            <a href="https://tiktok.com/@tridecco" class="transition duration-300 hover:scale-105"><img src="/svg/tiktok.svg" alt="TikTok Icon" class="w-6 h-6"></a>
            <a href="https://www.youtube.com/@tridecco" class="transition duration-300 hover:scale-105"><img src="/svg/youtube.svg" alt="YouTube Icon" class="w-6 h-6"></a>
            <a href="https://x.com/tridecco" class="transition duration-300 hover:scale-105"><img src="/svg/twitter.svg" alt="Twitter Icon" class="w-6 h-6"></a>
            <a href="https://boardgamegeek.com/boardgame/415551/tridecco" class="transition duration-300 hover:scale-105"><img src="/svg/game-three.svg" alt="Game Three Icon" class="w-6 h-6"></a>
          </div>
        </div>
        <!-- Right Column: YouTube Video -->
        <div class="flex-1">
          <iframe class="w-full h-64 md:h-80" src="https://www.youtube.com/embed/HCixiIkzyXg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

  <!-- Features Section -->
  <section class="py-12 bg-gray-100" data-aos="fade-up">
    <div class="container mx-auto px-4 text-center">
      <h2 class="text-3xl md:text-4xl font-bold mb-2">Exciting Puzzle Game</h2>
      <p class="text-gray-700 mb-6">Explore the new competitive puzzle game Tridecco based on the 13-sided einstein
        shape.</p>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="bg-white p-6 rounded-lg shadow-lg transition duration-300 hover:shadow-xl" data-aos="fade-up">
          <img src="/img/background.png" alt="Feature 1" class="w-full h-60 object-cover rounded-md mb-4 transition duration-300 hover:scale-105">
          <h3 class="text-2xl font-semibold mb-2 transition duration-300 hover:text-gray-700">Fun for All</h3>
          <p class="text-gray-600">Tridecco is great for all ages and helps develop spatial acuity in kids.</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg transition duration-300 hover:shadow-xl" data-aos="fade-up" data-aos-delay="100">
          <img src="/img/tridecco.png" alt="Feature 2" class="w-full h-60 object-cover rounded-md mb-4 transition duration-300 hover:scale-105">
          <h3 class="text-2xl font-semibold mb-2 transition duration-300 hover:text-gray-700">Stay Informed Here</h3>
          <p class="text-gray-600">Sign up for our mailing list to stay informed about our Kickstarter campaign.</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg transition duration-300 hover:shadow-xl" data-aos="fade-up" data-aos-delay="200">
          <img src="/img/pieces.png" alt="Feature 3" class="w-full h-60 object-cover rounded-md mb-4 transition duration-300 hover:scale-105">
          <h3 class="text-2xl font-semibold mb-2 transition duration-300 hover:text-gray-700">Online Game</h3>
          <p class="text-gray-600"><button class="bg-blue-500 text-white py-2 px-4 rounded-full transition duration-300 hover:bg-blue-700" onclick="window.location.href='https://play.tridecco.com'">Play Online</button></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Innovation Section -->
  <section class="py-12 bg-white" data-aos="fade-up">
    <div class="container mx-auto px-4 text-center">
      <h2 class="text-3xl md:text-4xl font-bold mb-2">Innovative Puzzle</h2>
      <p class="text-gray-700 mb-6">Explore the world of Tridecco, a competitive puzzle game for all ages.</p>
      <div class="grid grid-cols-1 md:grid-rows-2 gap-4">
        <div class="relative grid grid-cols-1 md:grid-cols-3 gap-4">
          <img src="/img/tridecco-game-2.avif" alt="Innovation 1" class="object-cover w-full h-96 md:col-span-2 rounded-lg transition duration-300 hover:scale-105" data-aos="fade-up">
          <img src="/img/tridecco-game.jpg" alt="Innovation 2" class="object-cover w-full h-96 md:col-span-1 rounded-lg transition duration-300 hover:scale-105" data-aos="fade-up" data-aos-delay="100">
        </div>
        <div class="relative grid grid-cols-1 md:grid-cols-3 gap-4">
          <img src="/img/gems.avif" alt="Innovation 3" class="object-cover w-full h-96 md:col-span-1 rounded-lg transition duration-300 hover:scale-105" data-aos="fade-up" data-aos-delay="200">
          <img src="/img/tridecco-2.avif" alt="Innovation 4" class="object-cover w-full h-96 md:col-span-2 rounded-lg transition duration-300 hover:scale-105" data-aos="fade-up" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section>

  <!-- Footer Section -->
  <%- include("../components/footer.ejs") %>

  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>