<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../components/head.ejs") %>
  <title>Story | Tridecco</title>
</head>

<body class="bg-gray-100 text-gray-900">
  <!-- Header Section -->
  <%- include("../components/header.ejs") %>

  <!-- Game Story Section -->
  <section class="container mx-auto px-4 py-8">
    <h2 class="text-3xl font-bold text-left mb-6">The Story of Tridecco</h2>
    <img src="/img/story.avif" alt="Tridecco Story" class="w-full">
  </section>

  <!-- Footer Section -->
  <%- include("../components/footer.ejs") %>
</body>

</html>