<header class="bg-white shadow-md sticky top-0 z-50 transition duration-300">
  <div class="container mx-auto flex justify-between items-center p-4 md:p-14">

    <!-- Logo -->
    <a href="/" class="text-2xl font-bold flex items-center transition duration-300 hover:scale-105">
      <img src="/img/logo.svg" alt="Tridecco Logo" class="h-10 mr-2">
    </a>

    <!-- Mobile Menu Button -->
    <div class="block md:hidden">
      <button id="menu-btn" class="text-gray-800 hover:text-gray-600 focus:outline-none transition duration-300 hover:scale-105">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>

    <!-- Navigation -->
    <nav id="menu" class="hidden md:block">
      <ul class="flex flex-col md:flex-row md:space-x-8 text-xl font-semibold">
        <li><a href="/" class="text-gray-800 hover:text-gray-600 py-2 md:py-0 transition duration-300 hover:text-gray-500">Home</a></li>
        <li><a href="/about" class="text-gray-800 hover:text-gray-600 py-2 md:py-0 transition duration-300 hover:text-gray-500">About</a></li>
        <li><a href="/instructions" class="text-gray-800 hover:text-gray-600 py-2 md:py-0 transition duration-300 hover:text-gray-500">Instructions</a></li>
        <li><a href="/story" class="text-gray-800 hover:text-gray-600 py-2 md:py-0 transition duration-300 hover:text-gray-500">Story</a></li>
      </ul>
    </nav>

  </div>
</header>

<!-- JavaScript -->
<script>
  const menuBtn = document.getElementById('menu-btn');
  const menu = document.getElementById('menu');

  menuBtn.addEventListener('click', () => {
    menu.classList.toggle('hidden');
  });
</script>